@import	url('https://fonts.googleapis.com/css?family=Lato:400,900|Roboto:400,700');

body, table, table td, select,button, p, a {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}

h1 {
	font-size: 2em;
}

.firstRow {
	border: 1px solid white;
}

#Logo{
	float: left;
	width: 180px;
	height: auto;
	padding: 1% 1%;
}

div#Header {
	width: 100%;
}

div#SystemName {
	width: 40%;
	height: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #00868B;
	background-color: white;
}

div#Login {
	width: 60%;
	height: 3.6em;
	float: right;
	background-color: white;
	text-align: right;
}

div#App {
    width: 100%;
    min-height: 34em;
    height: 236%;
    display: block;
    position: absolute;
    top: 140px;
    border: 3px solid #00868B;
   }

div#Navigator {
	float: left;
	clear: left;
	width: 464px;
	height: 25em;
	padding: 5px;
	background-color: #D7E6E0;
	border-right: 3px solid #00868B;
}

div#Contactlist {
    float: left;
    clear: left;
    width: 464px;
    position: absolute;
    height: 7.9em;
    background-color: #D7E6E0;
    padding: 5px;
    top: 407px;
    border-top: 1px solid #00868B;
    border-right: 3px solid #00868B;
}

div#ContactForm {
    justify-content: center;
    width: 608px;
    top: 5px;
    position: absolute;
    left: 480px;
    height: 414px;
    overflow: auto;
}

div#PropertyPanel {
	/*margin: 0em 9em 0em 36em;
	padding-left: 10px;*/
	position: absolute;
    bottom: 50px;
    left: 490px;
    width: 590px;
}

div#ButtonsPanel {
	margin-right: 5px;
	float: right;
	/* 	clear: left; */
	width: 13%;
	height: 100%;
	display: flex;
	align-items: right;
	padding-top: 16px;
	justify-content: right;
	border-left: 3px solid #00868B;
}

div#Trailer {
    margin: 0 auto;
    width: 100%;
    height: 2em;
    clear: both;
    color: #00868B;
    text-align: center;
    padding-top: 1em;
    background: white;
    position: absolute;
    top: 690px;
}

.contactTable {
	height: 100%;
}

.propertyPanel {
	/* 	margin-left: 5px; */
	
}

.addValueButton {
	/* 	margin: 0 auto; */ /* 	div-align: center; */
    background-color: #7dd286;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 4px 21px;
    text-decoration: none;
    margin: 6px 0px;
}

.addValueButton:hover{
	background-color: #49ba8f;
}

.addValueButton[disabled]{
	cursor: default;
	background-color: #d8d8d8;
}

.lockButton {
	width: 17px;
    height: 17px;
    background-color: #E6F4F1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    display: inline-block;
    cursor: pointer;
    padding: 11px 5px 10px 6px;
    text-decoration: none;
    margin: 8px -17px 3px 9px;

}

.deleteValueButton {
	/*margin: 0 5em;
	align: center;
	border: 1px solid black;*/
	background-color: #E6F4F1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    display: inline-block;
    cursor: pointer;
    padding: 12px 1px 6px 6px;
    text-decoration: none;
    margin: 8px -29px 3px 26px;
    width: 100%;
}

.contactListButtonPanel {
	/* 	border: 1px solid black; */
	
}

.contactListButtonPanel .gwt-Button {
	margin: 0px 5px 5px 0px;
	width: 190px;
}

.cellBordersBlack {
	/* 	border-bottom: 1px solid black; */
	/* 	border-top: 1px solid black; */
	border-right: 1px solid black;
}

.cellBordersGreen {
	border: 1px solid green;
}

#contactCell{
	
}

#contactListCell{
	
}
#itemSymbol{
	width: 15px;
	height: 15px;
}

/*TEST*/
/*TEST CSS*/


#ButtonsPanel{
	width: 11%;
}
.buttonPanel{
		background-color: #7dd286;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
    padding: 9px 4px;
    text-decoration: none;
	margin: 3px 10px;
	width:90%
}

.buttonPanel:hover {
	background-color: #49ba8f;
}

.gwt-TextBox{
    width: 100%;
    padding: 12px 9px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.gwt-ListBox{
	width: 100%;
    padding: 6px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signout{
	position: absolute;
    right: 4px;
    top: 20px;
	background-color: #fc9191;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	padding: 12px 18px;
	text-decoration: none;
	margin: 0px 10px;
}

.signout:hover {
	background-color: #c05c5f;
}

body{
	position: relative;
    width: 98%;
}

.GPBYFDEJ.GPBYFDEN{
	background-color: #18878B !important;
	background-image:none !important;
}
.GPBYFDEO.GPBYFDEN{
	background-color: #25A192 !important;
	background-image:none !important;
}

.GPBYFDEO{
	background-color: #25A192 !important;
	background-image:none !important;
} 

.label_search{
	width: 225px;
    font-size: 14px;
}

.editorSearch{
	width: 20px;
    height: 20px;
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;  
    padding: 9px 11px;
    text-decoration: none;
    margin: 9px 8px;
}

.addNewPropertyButton{
	    background-color: #7dd286;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 9px 4px;
    text-decoration: none;
    margin: 6px 10px;
    width: 90%;
}

.addNewPropertyButton:hover{
	background-color: #49ba8f;
}

.newPropertyLabel{
	    margin: 14px;
}


.gwt-DialogBox{
	 left: 500px;
    top: 200px;
    position: absolute;
    background: rgba( 192, 192, 192, 0.8 );
    overflow: visible;
    background-color: #fff;
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 3px solid #18878B;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 9px 4px;
    text-decoration: none;
    margin: 91px 10px;
    width: 260px;
}   

.dialog-button{
	background-color: #7dd286;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 9px 16px;
    text-decoration: none;
    margin: 3px 10px;
}

.dialog-button:hover{
	background-color: #49ba8f;
}

.gwt-PopupPanelGlass{
	position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 1280px;
    height: 1000px;
    background-color: #73737352;
}

.Caption{
	padding: 4px;
    color: #18878B;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.gwt-SuggestBoxPopup{
	visibility: visible;
    background-color: rgb(215, 230, 224);
    overflow: visible;
    border: 1px solid grey;
    border-radius
    position: absolute;
    left: 594px;
    top: 434px;
}

.gwt-SuggestBox{
	width: 100%;
    padding: 7px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*gwt-Styling*/
.gwt-DialogBox .Caption {
  background: #F1F1F1;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #D2D2D2;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}
.gwt-DialogBox .dialogBottomCenter {
  background: url(images/hborder.png) repeat-x 0px -2945px;
}
.gwt-DialogBox .dialogMiddleLeft {
  background: url(images/vborder.png) repeat-y -31px 0px;
}
.gwt-DialogBox .dialogMiddleRight {
  background: url(images/vborder.png) repeat-y -32px 0px;
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopLeft {
  background: url(images/circles.png) no-repeat -20px 0px;
}
.gwt-DialogBox .dialogTopRight {
  background: url(images/circles.png) no-repeat -28px 0px;
}
.gwt-DialogBox .dialogBottomLeft {
  background: url(images/circles.png) no-repeat 0px -36px;
}
.gwt-DialogBox .dialogBottomRight {
  background: url(images/circles.png) no-repeat -8px -36px;
}

.gwt-SuggestBox {
  padding: 5px 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  font-size: 100%;
  font-family: Arial Unicode MS, Arial, sans-serif;
}

.gwt-SuggestBoxPopup {
}

.gwt-SuggestBoxPopup .item {
  padding: 2px 6px;
  color: #000;
  cursor: default;
  font-size: 110%;
}
.gwt-SuggestBoxPopup .item-selected {
  background: #D5E2FF;
}
.gwt-SuggestBoxPopup .suggestPopupContent {
  background: white;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  border-top: 1px solid #bbb;
}
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  border-bottom: 1px solid #bbb;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenterInner,
.gwt-SuggestBoxPopup .suggestPopupBottomCenterInner {
  height: 1px;
  line-height: 1px;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  border-left: 1px solid #bbb;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  border-right: 1px solid #bbb;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner,
.gwt-SuggestBoxPopup .suggestPopupMiddleRightInner {
  width: 1px;
  line-height: 1px;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 0px;
  height: 0px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 0px;
  height: 0px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 0px;
  height: 0px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 0px;
  height: 0px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeft {
  background: url(images/circles.png) no-repeat 0px -6px;
  width:5px;
  height:5px;
}
.gwt-SuggestBoxPopup .suggestPopupTopRight {
  background: url(images/circles.png) no-repeat -5px -6px;
  width:5px;
  height:5px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  background: url(images/circles.png) no-repeat 0px -11px;
  width:5px;
  height:5px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRight {
  background: url(images/circles.png) no-repeat -5px -11px;
  width:5px;
  height:5px;
}

.closebutton{
	background-color: #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #4e4e4e;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 4px 8px;
    text-decoration: none;
}