/** Add css rules here for your application. */


/* Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/* div#TopLevelFrame { */
/* 	max-width: 600px; */
/* 	min-width: 300px; */
	
/* 	text-align: center; */
/* 	background: #FFFF99; */
/*  } */
 
div#Header {
    width: 100%;
    height: 4em;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
    background-color: #69e0dc ;
}

div#wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	
}
div#Navigator {
    float: left;
    width: 40%;
    height: 25em;
    background-color: #5beb7f;

}

div#Contactlist{
	position: absolute;
	float: left;
	
	width: 40%;
	height: auto;
	
	background-color: blue;
	
}

div#login {
	float: right;
    width: 60%;
    height: 2em;
    background-color: red;
}

div#Details {
	float: right;
    width: 60%;
    height: 32em;
    overflow: auto;
    padding: 5px 0;
    background: orange;
}

div#Trailer {
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	width: 100%;
	height: 2em;
    clear: both;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    color: grey;
    text-align: center;
    background: yellow;
}



.addValueButton{
/* 	margin: 0 auto; */
/* 	div-align: center; */
	height: 1,5em;
	width: 4em;
}

.lockButton{
	margin: 0 5em;
	align: center;
	border: 1px solid black;
	
}

.deleteValueButton {
	margin: 0 5em;
	align: center;
	border: 1px solid black;
}


.buttonPanel .gwt-Button{
	margin: 2px 10px;
	border: 1px solid black;
}

/* .sendButton { */
/*   display: block; */
/*   font-size: 16pt; */
/* } */

/* /** Most GWT widgets already have a style name defined */ */
/* .gwt-DialogBox { */
/*   width: 400px; */
/* } */

/* .dialogVPanel { */
/*   margin: 5px; */
/* } */

/* .serverResponseLabelError { */
/*   color: red; */
/* } */

/* /** Set ids using widget.getElement().setId("idOfElement") */ */
/* #closeButton { */
/*   margin: 15px 6px 6px; */
/* } */


/* .test{ */
/* 	margin: 0 auto; */
/* 	width: 100%; */
/* 	float: center; */
/* 	horizontal-align: center; */
/* 	vertical-align: center; */
/* } */

.contactTableStyle {
	border: 3px solid black;
	border-color: black;
}
	
/* } */
/* td.contactTable{ */
/* 	border: 1px solid black; */
	
/* } */

/* th.contactTable{ */
/* 	border: 1px solid black; */
/* } */

/* .contactColumn{ */
/* 	border: 1px solid black; */
/* } */

.cellBordersBlack {
	border: 1px solid black;
}

.cellBordersGreen{
	border: 1px solid green;
}
