
.firstRow{
	border: 1px solid white;
}


#App{
	width: 82%;
	height: 100%;
	margin: 0 auto;
}

div#Header{
	width: 100%;
	min-height: 4em;

}
div#SystemName {

    width: 40%;
  	height: 100%;
   	text-align: center;
   	font-size: 20px;
   	font-weight: bold;
   	color: #00868B;
    background-color: white ;
  
	
	
}

div#Login {
	width: 60%;
   	height: 3.6em;
	float: right;
    background-color: white;
    text-align: right;
   
}

div#Navigator {

    float: left;
    clear: left;
    min-width: 40%;
    height: 25em;
    background-color: #b3f5d4;
    border-left: 1px solid #00868B;
    border-top: 1px solid #00868B;
    border-right: 1px solid #00868B;

}

div#Contactlist{

	float: left;	
	clear: left;
	width: 40%;
	height: 7.95em;
	background-color: #b3f5d4;
	border: 1px solid #00868B;
	
}


div#ContactForm {
	
    width: 59.5%;
   	max-height: 35em; 
   	overflow: scroll;
    background: white;
    border-right: 1px solid #00868B;
    border-top: 1px solid #00868B;
  	border-bottom: 1px solid #00868B;
    
}

div#Trailer {
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	width: 100%;
	height: 2em;
    clear: both;
    border-top-color: #00868B;
    border-top-style: solid;
    border-top-width: 1px;
    color: #00868B;
    text-align: center;
    padding-top: 1em;
    background: white;
}



.addValueButton{
/* 	margin: 0 auto; */
/* 	div-align: center; */
	height: 1,5em;
	width: 4em;
}

.lockButton{
	margin: 0 5em;
	align: center;
	border: 1px solid black;
	
}

.deleteValueButton {
	margin: 0 5em;
	align: center;
	border: 1px solid black;
}


.buttonPanel .gwt-Button{
	margin: 2px 10px;
	border: 1px solid black;
}




	

.cellBordersBlack {
/* 	border-bottom: 1px solid black; */
/* 	border-top: 1px solid black; */
	border-right: 1px solid black;
}

.cellBordersGreen{
	border: 1px solid green;
}
