@import	url('https://fonts.googleapis.com/css?family=Lato:400,900|Roboto:400,700');

body, table, table td, select,button, p, a {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}

h1 {
	font-size: 2em;
}

/*EditorAdministration*/



/*ReportGenerator*/
.reportbutton {
	background-color: #7dd286;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	padding: 12px 18px;
	text-decoration: none;
	margin: 0px 10px;
}

.reportbutton:hover {
	background-color: #49ba8f;
}

#loginRepo {
	position: absolute;
	top: 36%;
	left: 30%;
}

#report {
	position: absolute;
}

#reporttext {
	position: relative;
	top: 180px;
	background-color: #8080801a;
	width: 100%;
	padding: 10px 70px 70px;
}

#header {
	position: absolute;
	width: 100%;
	height: auto;
}

#logo {
	float: left;
	width: 180px;
	height: auto;
	padding: 1% 1%;
}

#title {
	left: 40%;
	position: absolute;
	color: #00868b;
	top: 20px;
}

#content {
	position: absolute;
	width: 100%;
	height: auto;
	top: 180px;
}

.infotable {
	margin-bottom: 16px;
}

.columnhead {
	background: #00868b;
	padding: 3px 10px;
	color: white;
}

.searchlabel {
	padding: 11px 13px;
}

.searchheading{
	padding: 4% 2%;
}


.gwt-TextBox {
	margin: 0px 25px 14px 0px;
	padding: 12px 65px;
}

.inputReport {
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 40px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/*SignOut Panel*/
#signout{
	position: absolute;
    right: 4%;
    top: 15%;
}

.signout{
	background-color: #fc9191;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	padding: 12px 18px;
	text-decoration: none;
	margin: 0px 10px;
}

.signout:hover {
	background-color: #c05c5f;
}
.reportSuggetBox{
	background-color: white;
    background-image: url(searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0px 25px 14px 0px;
    padding: 12px 65px;
}

/*Startseite CSS*/
#startseiteLogo{
	position: relative;
    width: 290px;
    height:auto;
    display: block;
    margin: 0 auto;
}

#buttoncontainer{
	position: relative;
    display: block;
    margin: 0 auto;
    width: 360px;
    height:auto;
}

#wrapper-home{
	position:absolute;
	width:100%;
	top: 120px;
    position: absolute;
}

