@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Roboto:400,700');

body, table, button, p, a{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 1em;
}

h1, h2, h3, h4{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}

h1{
	font-size: 2em;
}


#header{
	width:40%;
	height:auto;
}

#logo{
	float:left;
	width:30%;
	height:auto;
}

#title{
	float:right;
	color:#00868b;
}

#content{
	width:100%;
	height:auto;
	top: 60%;
}


.gwt-Label{
width: 1150px;
}

body, table td, select, button {
    font-family: 'Lato', sans-serif;
    }
    
.gwt-TextBox{
	margin: 0% 15%;
}

.gwt-Button{
	padding: 2%;
	margin: 0 5% 0 0;
}

input[type=text] {
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}